<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">

      <ion-nav-buttons side="right">
        <a menu-toggle="right" class="button button-icon button-clear ion-podium">
        </a>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="content">
			<ion-view view-title="Dashboard">
			  <ion-content class="padding">
			    <ion-refresher pulling-text="Pull to refresh" on-refresh="refreshFriends()">
			    </ion-refresher>
			    <ion-list>
			      <ion-item ng-repeat="friend in friends" class="item-avatar" ng-click="menuFriend()">
			        <img ng-src="{{friend.user.picture.thumbnail}}">
			        <h2>{{friend.user.name.first}} {{friend.user.name.last}}</h2>
			        <p>{{friend.user.email}}</p>
			      </ion-item>
			    </ion-list>
			  </ion-content>
			</ion-view>
		</ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/notes" class="item-icon-left">
          <i class="icon ion-paper-airplane"></i>
          <h2>Refene Notes</h2>
          <p>Send & Receive some</p>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/friends" class="item-icon-left">
          <i class="icon ion-person-stalker"></i>
          <h2>Friends</h2>
          <p>Because you love them</p>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/groups" class="item-icon-left">
          <i class="icon ion-ios-people"></i>
          <h2>Groups</h2>
          <p>Don't worry, be fun</p>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings" class="item-icon-left">
          <i class="icon ion-ios-settings-strong"></i>
          <h2>Settings</h2>
          <p>Set them up</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
