<ion-view view-title="Top10 - GameBox - MainMenu">

  <ion-content class="padding menu-screen" scroll="false">
    <div class="row">
      <div class="col">
        <div class="menu-header">Top10</div>
        <div class="menu-subheader">GameBox</div>
        <div class="menu-view">
          <button ui-sref="card" ng-show="has_game"
          class="button button-block button-large button-light button-outline">
            <strong>Resume Last Game</strong>
          </button>
          <button ui-sref="game" ng-class="{false:'button-large button-highlight'}[has_game]" class="button button-block button-light button-outline">
            Start a Game
          </button>
          <button class="button button-block button-light button-outline">
            How to Play
          </button>
          <button class="button button-block button-light button-outline">
            Settings
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
